body {
    margin: 0;
    min-width: 400px;
    min-height: 400px;

    padding: 20px;
}

#total-time-container {
    height: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}